<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satya.goesjogja">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin.activity.DetailOrderAdminActivity"></activity>
        <activity android:name=".admin.activity.OrderAdminActivity" />
        <activity android:name=".user.activity.OrderDetailActivity" />
        <activity android:name=".user.activity.CheckoutActivity" />
        <activity android:name=".user.activity.CartActivity" />
        <activity android:name=".admin.activity.DetailWisataActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".user.activity.WisataActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".admin.activity.ListWisataAdminActivity" />
        <activity android:name=".admin.activity.DetailAdminActivity" />
        <activity android:name=".admin.activity.TambahWisataActivity" />
        <activity android:name=".admin.activity.DashboardActivity" />
        <activity android:name=".admin.activity.RegisterAdminActivity" />
        <activity android:name=".admin.activity.LoginAdminActivity" />
        <activity android:name=".user.activity.HomeActivity"/>
        <activity android:name=".user.activity.UserProfileActivity" />
        <activity android:name=".user.activity.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".user.activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>